
body
{
    margin: 2em 10em 2em 2em;
    font-family: Helvetica;
	font-size: 14px;
}

.class
{
    background-color: #eee;
    padding: 0.025em 0.5em 0.25em 1em;
}

.class_title
{
    font-family: Menlo, Monaco, Courier;
	font-size: 18px;
}

.class_hierarchy
{
    font-family: Menlo, Monaco, Courier;
	font-size: 14px;
}

.class_section_header
{
	
}

.class_description
{
    font-family: Helvetica;
	font-size: 14px;
}

.empty_class_description
{
    font-family: Helvetica;
	font-size: 12px;
	font-style: italic;
	color: grey;
}

.members
{
    font-family: Menlo, Monaco, Courier;
	font-size: 13px;
}

.member
{
    margin-left: 0em;
    padding-left: 0.85em;
    padding-top: 0.85em;
    border-top: 4px solid #fcfcfc;
    border-left: 4px solid #fcfcfc;
    
    padding-bottom: 0.85em;
    padding-left: 0.85em;
    margin-bottom: 1.5em;
    
    margin-right: 4em;
    padding-right: 0;
}

.member_declaration
{
    margin-top: 0;
	margin-bottom: 0.5em;
}

.member_description
{
    font-family: Helvetica;
	font-size: 14px;
	margin-top: 0;
    margin-bottom: 0;
}

.empty_member_description
{
    font-family: Helvetica;
	font-size: 12px;
	font-style: italic;
	color: grey;
	margin-top: 0;
    margin-bottom: 0;
}

.typename
{
	color: blue;
}

.classname
{
	color: #800023;
}

.ugenname
{
	color: #A200EC;
}

.membername
{
    font-weight: bold;
}


